<h1> Quick data addition field</h1>

This module helps you quickly create / add fields to content type.

<h3>Scenario</h3>

You have Excel data with 20 columns, you want to show all your data quickly with drupal.
First of all you must create content type and add field by field foreach column,
after that create index server and views field and for each field, define field by field in the feeds for import.<br/>
It takes a lot of time if you have a lot of columns.<br/>
Quick data helps you create / add all fields in 1 minute.
You just need to copy the Excel table header to the "field label" and select the data type,
it will automatically create / add content type views and feeds

<h3>Import CSV</h3>
if you don't want to use feed to import csv, you can import your data with quick data,
it will match column name with field label
<br/>
<b>/quick_data/import/{entity_type}/{content_type}</b>
<br/>

{% for entity_type in entity_types %}
  {{ entity_type }}
{% endfor %}

for paragraph field, you can import paragraph field this way <br/>
<b>/quick_data/import/paragraph/{entity_type}/{field_name}/{entity_id}</b>
<br/><br/>
by example: import data to the field paragraph table (field_para_table) in node/1 - Basic page <br/>
<a href="/quick_data/import/paragraph/node/field_para_table/1">/quick_data/import/paragraph/node/field_para_table/1</a>
